@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,300;0,600;1,300&family=Rubik+Maps&family=Work+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,300;0,600;1,300&family=Rubik+Maps&family=Work+Sans:wght@400;600;700&display=swap');
/* font-family: 'Inter', sans-serif; 
    font-family: 'Merriweather', serif;
*/

/* width 78% */
*{
    margin: 0;
}
header {
    margin: 50px 140px 120px 140px;
    
    background-image:  url('resources/Banner\ Image.png');
    border-radius: 16px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    width: 82%;
    border-radius: 16px;
    height: 600px;
    color: green;


}



.head-contain {
    text-align: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

#header-title {

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    padding-top: 100px;

    font-weight: 400;


}

#header-title-head {

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;

    font-weight: 900;
    padding: 0 20%;
}


/* main part */

main {
    margin: 0 140px;
}


.main-container1 {
    text-align: center;
}

.container1-h1 {
    color: #F00;

    font-family: Inter;
    font-size: 88px;

    font-weight: 700;


}


.container1-p1 {
    color: #F00;

    font-family: Inter;
    font-size: 24px;

    font-weight: 500;
    

}

.container1-h3{
    color: #070211;

font-family: Inter;
font-size: 48px;

font-weight: 700;

}

.main-container1 img{
  
    margin-bottom: 100px;
}

.section2{

    margin: 50px 140px 120px 140px;
   
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image:  url('../resources/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    /* width: 82%; */
    border-radius: 16px;
    height: 700px;


}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
   
   
}

#container2-img{
  
    width: 100%;
    padding: 68px 0;
 
}
.container2-part2{
    padding-right: 30px;

   
   

}

.container2-part1{
    text-align: left;
    /* padding-left: 10%; */
    padding-top: 126px;
   padding-left: 50px ;
   padding-right: 100px;
   
    max-width: 200px;
}

.container2 .container2-h1{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;

font-weight: 900;
width: 600px;
letter-spacing: 7.04px;
}


.container2 .container2-p1{

    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
max-width: 450px;
}

button{
    border-radius: 8px;
background: #F00;
color: white;

padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border: 0;
font-weight: 900;
font-size: large;
cursor: pointer;
transition: all 1s;
}

button:hover
{
    background-color: white;
    color: black;

}

.section3{

    margin: 50px 140px 120px 140px;
   background-color: rgb(247, 224, 224);
  
 
    align-items: center;
    width: 82%;
    border-radius: 16px;
    height: 600px;
    text-align: center;
    font-family: Inter;
font-size: 32px;
font-weight: 600;


}

span{
    color: red;

}

.section3{
    
    background-image: linear-gradient(rgb(250, 158, 158),white);
    border-radius: 20px;
}

.container3{
   padding-top: 100px;
    border-radius: 20px;
} 
#button2{
    margin: 50px 0;
}


.section4{

    margin: 50px 140px 120px 140px;
  


}

.container4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.container4-p1{
    color: #F00;

font-family: Inter;
font-size: 24px;

font-weight: 500;


}

.container4-p2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;

}

.container4-p3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 393px;

}

.container4-img{
    border-radius:100%;
   
    border: 10px solid red;
}

.conatiner4-img1{
    padding: 15px;
}
.container4-p4{
    color: #F00;
font-family: Inter;
font-size: 48px;

font-weight: 700;



}
.container4-p5{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;

font-weight: 400;
width: 276px;

}


.section5{

    margin: 50px 140px 120px 140px;
    text-align: center;



}

.section5-p1{
    color: #070211;
font-family: Inter;
font-size: 24px;

font-weight: 500;



}
.section5-h1{
    color: #070211;
font-family: Merriweather;
font-size: 72px;

font-weight: 900;


}
.section5-p2{
    width: 900px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
margin: 0 auto;

font-weight: 500;


}


.section6{


    margin: 50px 140px 0 140px;
    background-image: url('resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 433px;



}

/* img{
    overflow-clip-margin: content-box;
    overflow: clip;
} */

.pera1{
    text-align: right;
    padding-right: 300px ;
}

.section7{
    margin: 0 140px 0 140px;
    background-image: url('resources/Rectangle\ 2.png');
    background-size: cover;

    height: 350px;

}
#c-7-img1{
    width: 450px;
    
    height: 350px;
}
.container7{
    
    margin-left: 50px;
}



.container8{
    display: block;
    padding-left: 140px;
    padding-top: 150px;
}

.best-gift{
    color: #F00;
font-family: Inter;
font-size: 24px;

font-weight: 500;


}

.c8-h2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;


}

.c8-des{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 896px;

    
}



.section9{

    margin: 20px 100px 100px 140px;
  
    border-radius: 16px;
    justify-content: space-around;


}
.s9-container1{
    display: flex;
    gap: 20px;
  padding: 10px ;


   
}



.s9-container2{
    display: flex;
    gap: 20px;
    padding: 10px ;
}

.s9-container1-img1:hover{

    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
 
}
.s9-container1-img2:hover{

    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.s9-container1-img3:hover{

    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.s9-container2-img4:hover{

    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.s9-container2-img5:hover{

    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.s9-container2-img6:hover{

    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;

}



.section10{
    margin: 20px 100px 100px 140px;
  
    border-radius: 16px;
    padding:100px 10% ;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;

}

.container10{
    display: block;
}



.c10-h2{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
padding-bottom: 10px;
}

.c10-p1{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
max-width: 890px;
padding-bottom: 10px;
}

#email-box{
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding: 15px;
    padding-right: 200px;
}
#email-button{
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-family: Inter;
}
#email-button:hover{
    background-color: rgb(248, 168, 182);
    color: black;
    font-weight: 700px;
    transition: all 1s;
}
form{
    display: flex;
    padding-left: 15%;
    margin-top: 30px;
    max-width: 700px;
  
}


footer{
    
    background-color: black;
   height: 600px;
}
