@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,300;0,600;1,300&family=Rubik+Maps&family=Work+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,300;0,600;1,300&family=Rubik+Maps&family=Work+Sans:wght@400;600;700&display=swap');
/* font-family: 'Inter', sans-serif; 
    font-family: 'Merriweather', serif;
*/

/* width 78% */
header {
    margin: 50px 140px 120px 140px;
    background-image: url('resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    width: 82%;
    border-radius: 16px;
    height: 600px;
    color: green;


}



.head-contain {
    text-align: center;

}

#header-title {

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    padding-top: 100px;

    font-weight: 400;


}

#header-title-head {

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;

    font-weight: 900;
    padding: 0 20%;
}


/* main part */

main {
    margin: 0 140px;
}


.main-container1 {
    text-align: center;
}

.container1-h1 {
    color: #F00;

    font-family: Inter;
    font-size: 88px;

    font-weight: 700;


}


.container1-p1 {
    color: #F00;

    font-family: Inter;
    font-size: 24px;

    font-weight: 500;
    

}

.container1-h3{
    color: #070211;

font-family: Inter;
font-size: 48px;

font-weight: 700;

}

.main-container1 img{
  
    margin-bottom: 100px;
}

.section2{

    margin: 50px 140px 120px 140px;
    background-image: url('resources/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    width: 82%;
    border-radius: 16px;
    height: 600px;


}

.container2{
    text-align: left;
    padding-left: 10%;
    padding-top: 126px;
    margin-bottom: 150px;
}

.container2 .container2-h1{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;

font-weight: 900;
width: 642px;
letter-spacing: 7.04px;
}


.container2 .container2-p1{

    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
}

button{
    border-radius: 8px;
background: #F00;
color: white;

padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border: 0;
font-weight: 900;
font-size: large;
cursor: pointer;
transition: all 1s;
}

button:hover
{
    background-color: white;
    color: black;

}

.section3{

    margin: 50px 140px 120px 140px;
   background-color: rgb(247, 224, 224);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    width: 82%;
    border-radius: 16px;
    height: 600px;
    text-align: center;
    font-family: Inter;
font-size: 32px;
font-weight: 600;


}

span{
    color: red;

}
.container3{
    padding:100px 10% ;
}
#button2{
    margin: 50px 0;
}