@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,300;0,600;1,300&family=Rubik+Maps&family=Work+Sans:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,300;0,600;1,300&family=Rubik+Maps&family=Work+Sans:wght@400;600;700&display=swap');
/* font-family: 'Inter', sans-serif; 
    font-family: 'Merriweather', serif;
*/

/* width 78% */
header {
    margin: 50px 140px 120px 140px;
    background-image: url('resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    width: 82%;
    border-radius: 16px;
    height: 600px;
    color: green;


}



.head-contain {
    text-align: center;

}

#header-title {

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    padding-top: 100px;

    font-weight: 400;


}

#header-title-head {

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;

    font-weight: 900;
    padding: 0 20%;
}


/* main part */

main {
    margin: 0 140px;
}


.main-container1 {
    text-align: center;
}

.container1-h1 {
    color: #F00;

    font-family: Inter;
    font-size: 88px;

    font-weight: 700;


}


.container1-p1 {
    color: #F00;

    font-family: Inter;
    font-size: 24px;

    font-weight: 500;
    

}

.container1-h3{
    color: #070211;

font-family: Inter;
font-size: 48px;

font-weight: 700;

}

.main-container1 img{
  
    margin-bottom: 100px;
}